page-login {
  .wrapper {
    text-align: center;
  }

  .button-facebook {
    position: absolute;
    top: 30%;
  }
  .button-signup {
    position: absolute;
    top: 40%;
    margin-right: 5%;
    margin-left: 6%;
  }
  .button-login {
    position: absolute;
    top: 55%;
  }
  .text
  {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  }
}
