page-categorie-details {
  .sold
  {
    font-size: 12px;
    width: 20%;
    height: 4.2%;
    position: ABSOLUTE;
    background-color: #ffe80a;
    font-size: 12px;
    color: #130808;
    font-weight: bold;
    text-align: center;
    margin-top: -51%;
    MARGIN-LEFT: 10%;

  }

}
