page-edit-profil {
  .img-select{
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed rgba(0, 0, 0, 0.44);
    border-radius: 15%;
    margin-right: 1.8em;

    ion-icon{
      width: 50%;
      margin: 0 auto;
      font-size: 2.9em;
      color: rgba(0, 0, 0, 0.44);
    }

    img{
      height: 100%;
      width: 100%;
    }
  }

}
