// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../pages/home/home";

@import "../pages/item-details/item-details";

@import "../pages/article-details/article-details";

@import "../pages/search-articles/search-articles";

.avatar {
  height: 88px;
  width: 88px;
}

.img-circle {
  border-radius: 50%;
  background-size:150px;
  width: 85px;
  height: 80px;
  margin-left: 7%;
  margin-top: 3%;
}
