// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../pages/home/home";

@import "../pages/item-details/item-details";

@import "../pages/article-details/article-details";

@import "../pages/search-articles/search-articles";

@font-face {
  font-family: 'MullerNarrowLight';
  src: url('../assets/fonts/MullerNarrowLight.eot');
  src: url('../assets/fonts/MullerNarrowLight.eot') format('embedded-opentype'),
  url('../assets/fonts/MullerNarrowLight.woff2') format('woff2'),
  url('../assets/fonts/MullerNarrowLight.woff') format('woff'),
  url('../assets/fonts/MullerNarrowLight.ttf') format('truetype'),
  url('../assets/fonts/MullerNarrowLight.svg#MullerNarrowLight') format('svg');
}
@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Ubuntu-regular.eot');
  src: url('../assets/fonts/Ubuntu-regular.eot?#iefix') format('embedded-opentype'),
  local('Ubuntu'),
  local('Ubuntu-regular'),
  url('../assets/fonts/Ubuntu-regular.woff2') format('woff2'),
  url('../assets/fonts/Ubuntu-regular.woff') format('woff'),
  url('../assets/fonts/Ubuntu-regular.ttf') format('truetype'),
  url('../assets/fonts/Ubuntu-regular.svg') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/Lato-regular.eot');
  src: url('../assets/fonts/Lato-regular.eot?#iefix') format('embedded-opentype'),
  local('Lato Regular'),
  local('Lato-regular'),
  url('../assets/fonts/Lato-regular.woff2') format('woff2'),
  url('../assets/fonts/Lato-regular.woff') format('woff'),
  url('../assets/fonts/Lato-regular.ttf') format('truetype'),
  url('../assets/fonts/Lato-regular.svg') format('svg');
}


@import url(https://fonts.googleapis.com/css?family=Montserrat);


.avatar {
  height: 88px;
  width: 88px;
}

.img-circle {
  border-radius: 50%;
  background-size:150px;
  width: 85px;
  height: 80px;
  margin-left: 7%;
  margin-top: 3%;
}

body{
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  color: #1a5046;
  background-color: #eef2f6;
  font-size: 12px;
}

page-cgu,page-politique-confidentialite,page-securite,page-contact {

  p{
    box-sizing: inherit;
    margin: 2rem 0px;
    padding: 0px;
    border: 0px;
    font-stretch: inherit;
    font-size: 1.3rem;
    line-height: 1.6em;
    font-family: 'Avenir Next Cyr W00 Regular';
    vertical-align: baseline;
    text-align: justify;
    color: rgb(119, 119, 119);
  }

  a{
    color: #6c6c6c;
  }

  span{
    box-sizing: inherit;
    margin: 0 3px 0 0;
    padding: 0;
    border: 0;
    font-style: inherit;
    font-variant: inherit;
    font-weight: 700;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    vertical-align: baseline;
  }

  br{
    box-sizing: inherit;
  }
}

