(<ion-menu [content]="content" >

 <!-- <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>-->

  <ion-content style="background-color: #707070">
    <ion-list>
      <ion-list-header>
        <section *ngIf="true" class="profil-centre dark-bg expanded"  menu-close (click)="openPage(loginPage)" >
          <ion-row>
            <ion-col width-40><ion-icon name="contact" style="font-size: 500%"></ion-icon> </ion-col>
            <ion-col center width-50 >
              <section style="color: #e7e7e7; font-size: 100%"><b>Connectez-vous </b></section>
              <section style="color: #575757"><b>ра Occazstreet </b></section>
            </ion-col>
          </ion-row>
        </section>
        <section *ngIf="false" class="profil-centre dark-bg expanded" menu-close>
          <img src='./img/default.png' alt="" class="img-circle">
          <!--<img *ngIf="offLine  || infoUserLogged.photo.idPhoto==1" src='./img/default.png' alt="" class="img-circle">-->
          <section>Nom Prenom</section>
        </section>
      </ion-list-header>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)" style="background-color: #707070;color: white">
        <ion-icon name="{{p.icon}}" item-left></ion-icon>
        {{p.title}}
      </button>
      <button ion-item *ngFor="let p of loggedPages" (click)="openPage(p)" style="background-color: #707070;color: white">
        <ion-icon name="{{p.icon}}" item-left></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
