<ion-card (click)="articleDetails($event,article)" id="card">
  <img *ngIf="article?.images.length>0" src="{{url}}{{cheminImage}}{{article?.images[0]?.cheminImage}}"/>
  <img *ngIf="article?.images.length==0" src="assets/img/defaultImage.png"/>
  <ion-card-content text-center no-padding>
    <ion-card-title  class="price" >
      {{article.prix | currency:'XAF':true}}
    </ion-card-title>
    <ion-card-title  class="price" *ngIf="article.ancienPrix>article.prix && article.ancienPrix !=0" class="line-through">
      {{article.ancienPrix | currency:'XAF':true}}
    </ion-card-title>

    <h6>{{article.titre | titeCapitalize}}</h6>
  </ion-card-content>
  <section class="timer" >
    <ion-col width-50 >
      <ion-icon name="heart-outline" class="icon-favorite" >&nbsp;&nbsp;{{article.nombreFavoris}}</ion-icon>
    </ion-col>
    <ion-col width-50 >
      <ion-icon name="ios-eye-outline" class="icon-view" *ngIf="article.nombreDeVue < 100">&nbsp;&nbsp;{{article.nombreDeVue}}</ion-icon>
      <ion-icon name="flame" color="primary" class="fire" *ngIf="article.nombreDeVue > 100"></ion-icon>

    </ion-col>
    <!--<span *ngIf="article.dateModification === null">{{'addedOn' | translate}} : {{article.dateAjout | occasStreetTimer}}</span>
    <span *ngIf="article.dateModification">{{'editedOn' | translate}} : {{article.dateModification | occasStreetTimer}}</span>-->
  </section>
</ion-card>
