
<ion-header>
  <ion-navbar color="primary2">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'pageTile.category' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-row [hidden]="categories.length>0">
    <ion-col text-center>
      <div class="network-error">
        <img margin-bottom src="assets/img/no-network.png" style="-webkit-filter:grayscale(100%)" width="100" height="100"/>
        <h4>{{'noNetworkTitle' | translate}}</h4>
        <p>{{'noNetworkBody' | translate}}</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-list [hidden]="categories.length<0">
    <button ion-item *ngFor="let categorie of categories" (click)="goToDetailsCategorie($event,categorie)">
      <span *ngIf="locale=='fr'">{{categorie.libelle}}</span>
      <span *ngIf="locale!='fr'">{{categorie.libelleEn}}</span>
    </button>
  </ion-list>
</ion-content>

